* {
  margin: 0;
  padding: 0;
}

:root {
  /*Fontes*/
  --font-body: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-button: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-header: 'Lato', Arial, Helvetica, sans-serif;
  /* font-sizes */
  --text-xs: 0.878357em;
  --text-sm: 0.937207em;
  --text-base: 1em;
  --text-lg: 1.067em;
  --text-h6: 1.067em;
  --text-h5: 1.067em;
  --text-h4: 1.138489em;
  --text-h3: 1.214768em;
  --text-h2: 1.296157em;
  --text-h1: 1.383em;
  --text-button: 1em;
  --text-sm-button: 0.9em;
  --text-lg-button: 1.1em;
  /*CORES*/
 --white-value: 0, 0%, 100%;
  --white-foreground: hsl(var(--white-value));
  
  --black-value: 0, 0%, 13%;
  --black-foreground: hsl(var(--black-value));
  
  --primary-value: 235, 35%, 35%;
  --primary: hsl(var(--primary-value));
  
  --primary-hover-value: 234, 31%, 26%;
  --primary-hover: hsl(var(--primary-hover-value));
  
  --dark-primary-value: 255, 35%, 18%;
  --dark-primary: hsl(var(--dark-primary-value));

  --secondary-value: 360, 66%, 50%;
  --secondary: hsl(var(--secondary-value));
  
  --secondary-hover-value: 358, 66%, 46%;
  --secondary-hover: hsl(var(--secondary-hover-value));
  
  --dark-secondary-value: 359, 30%, 32%;
  --dark-secondary: hsl(var(--dark-secondary-value));
  
  --destructive-value: 0, 80%, 50%;
  --destructive: hsl(var(--destructive-value));
  
  --destructive-foreground-value: 0, 0%, 98%;
  --destructive-foreground: hsl(var(--destructive-foreground-value));

  --dark-green: #396b46;
  --light-green: #b5ebc3;
  /* --back-color: #eef2f6; */
  --back-color: hsl(210, 33%, 96%);
  --back-hover: hsl(210, 33%, 91%);
  --disable: #a8adb3ff;
  --disable-hover: #9299a0ff;
  --dark-border: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 87%);
  --light-border: #e6e6e6;
  --pink: hsl(0, 100%, 94%);
  --light-grey: rgb(247, 249, 250);
  --light-grey-hover: hsl(200, 23%, 91%);
  --background: hsl(220, 14%, 97.5%);
  --white-hover: #f9fafb;
  --bluish-white: #f1f5f9;
  --bluish-white-hover: #e2e8f0;
  /* sombras */
  --shadow-xs: 0 1px 2px -1px hsla(0, 0%, 0%, 0.1);
  --shadow-sm: 0 2px 4px hsla(0, 0%, 0%, 0.09), 0 0 4px hsla(0, 0%, 0%, 0.01);
  --shadow-md: 0 3px 6px hsla(0, 0%, 0%, 0.06), 0 0 8px hsla(0, 0%, 0%, 0.01);
  --shadow-lg: 0 6px 12px hsla(0, 0%, 0%, 0.04), 0 0 16px hsla(0, 0%, 0%, 0.01);
  --shadow-xl: 0 12px 24px hsla(0, 0%, 0%, 0.02), 0 0 32px hsla(0, 0%, 0%, 0.01);
  --shadow-2xl: 0 24px 48px hsla(0, 0%, 0%, 0.01), 0 0 64px hsla(0, 0%, 0%, 0.01);
  /* tamanhos */
  --size-2: 0.2rem;
  --size-4: 0.4rem;
  --size-6: 0.6rem;
  --size-8: 0.8rem;
  --size-10: 1rem;
  --size-12: 1.2rem;
  --size-14: 1.4rem;
  --size-16: 1.6rem;
  --size-18: 1.8rem;
  --size-20: 2rem;
  --size-22: 2.2rem;
  --size-24: 2.4rem;
  --size-26: 2.6rem;
  --size-28: 2.8rem;
  --size-30: 3rem;
  --size-32: 3.2rem;
  --size-34: 3.4rem;
  --size-36: 3.6rem;
  --size-38: 3.8rem;
  --size-40: 4rem;
  --size-42: 4.2rem;
  --size-44: 4.4rem;
  --size-46: 4.6rem;
  --size-48: 4.8rem;
  --size-50: 5rem;
  --size-52: 5.2rem;
  --size-54: 5.4rem;
  --size-56: 5.6rem;
  --size-58: 5.8rem;
  --size-60: 6rem;
  --size-62: 6.2rem;
  --size-64: 6.4rem;
  --size-66: 6.6rem;
  --size-68: 6.8rem;
  --size-70: 7rem;
  --size-72: 7.2rem;
  --size-74: 7.4rem;
  --size-76: 7.6rem;
  --size-78: 7.8rem;
  --size-80: 8rem;
  --size-82: 8.2rem;
  --size-84: 8.4rem;
  --size-86: 8.6rem;
  --size-88: 8.8rem;
  --size-90: 9rem;
  --size-92: 9.2rem;
  --size-94: 9.4rem;
  --size-96: 9.6rem;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  cursor: default;
  user-select: none;
}

p {
  cursor: default;
  font-family: var(--font-body);
  font-weight: 400;
}

span {
  font-weight: 400;
}

button {
  border: none;
}

h1,
h2,
h3 {
  cursor: default;
  user-select: none;
}
