* {
  margin: 0;
  padding: 0;
}

:root {
  /* Para ver */
  --border: 1px solid black;
  /*Fontes*/
  --font-body: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-button: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-header: 'Lato', Arial, Helvetica, sans-serif;
  /* font-sizes */
  --text-xxs: 0.8232em;
  --text-xs: 0.878em;
  --text-sm: 0.937em;
  --text-base: 1em;
  --text-lg: 1.067em;
  --text-h6: 1.067em;
  --text-h5: 1.067em;
  --text-h4: 1.138em;
  --text-h3: 1.215em;
  --text-h2: 1.296em;
  --text-h1: 1.383em;
  --text-button: 1em;
  --text-sm-button: 0.9em;
  --text-lg-button: 1.1em;
  /*CORES*/
  --white-value: 0, 0%, 100%;
  --white-foreground: hsl(var(--white-value));
   /* 
   azul-medio: #457b9d;
   azul-claro: #a8dadc;
   branco-verde: #f1faee
   */
  --black-value: 0, 0%, 13%;
  --black-foreground: hsl(var(--black-value));
  --muted-foreground: hsla(var(--black-value), 0.7);

  --primary-value: 215, 50%, 23%;
  --primary: hsl(var(--primary-value));
  --primary-foreground: hsl(105, 55%, 96%);

  --primary-hover-value: 234, 31%, 26%;
  --primary-hover: hsl(var(--primary-hover-value));

  --dark-primary-value: 255, 35%, 18%;
  --dark-primary: hsl(var(--dark-primary-value));
  --secondary-value: 360, 66%, 50%;
  --secondary: hsl(var(--secondary-value));

  --secondary-hover-value: 355, 78%, 56%;
  --secondary-hover: hsl(var(--secondary-hover-value));

  --dark-secondary-value: 359, 30%, 32%;
  --dark-secondary: hsl(var(--dark-secondary-value));

  --destructive-value: 0, 80%, 50%;
  --destructive: hsl(var(--destructive-value));

  --destructive-foreground-value: 0, 0%, 98%;
  --destructive-foreground: hsl(var(--destructive-foreground-value));

  --dark-green: #396b46;
  --light-green: #b5ebc3;
  /* --back-color: #eef2f6; */
  --back-color: hsl(210, 33%, 96%);
  --back-hover: hsl(210, 33%, 91%);
  --disable: #a8adb3ff;
  --disable-hover: #9299a0ff;
  --dark-border: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 87%);
  --light-border: #e6e6e6;
  --pink: hsl(0, 100%, 94%);
  --background-value: hsl(220, 14%, 91%);
  --background: hsl(210, 12%, 98%);
  --white-hover: #f9fafb;
  --bluish-white: #f1f5f9;
  --bluish-white-hover: #e2e8f0;
  /* sombras */
  --shadow-xs: 0 1px 2.5px -1px hsla(270, 3%, 0%, 0.21);
  --shadow-sm: 0 2px 5px -2px hsla(0, 0%, 0%, 0.18);
  --shadow-md: 0 4px 8px -4px hsla(0, 0%, 0%, 0.15);
  --shadow-lg: 0 6px 12px -6px hsla(0, 0%, 0%, 0.12);
  --shadow-xl: 0 8px 16px -8px hsla(0, 0%, 0%, 0.08);
  --shadow-2xl: 0 10px 20px -10px hsla(0, 0%, 0%, 0.05);
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(135deg, var(--white-foreground), var(--background));
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  cursor: default;
  user-select: none;
}

p {
  cursor: default;
  font-family: var(--font-body);
  font-weight: 400;
}

span {
  font-weight: 400;
}

button {
  font-family: var(--font-button);
  border: none;
}

h1,
h2,
h3 {
  cursor: default;
  user-select: none;
}

