* {
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
  height: 100%;
  background-color: #ebeff4;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  background-color: #ebeff4;
  -ms-overflow-style: none;
  width: 100%;
  max-width: 1390px;
  margin: auto;
}

/* body::before{
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #f5faff, #ebeff4);
  z-index: -1;
} */

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}
