* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  background-color: #ECF0F5;
  width: 100%;
  max-width: 1390px;
  margin: auto;
  position: relative;
}