* {
  margin: 0;
  padding: 0;
}

:root {
  /*Cores*/
  --purple: #383d6a;
  --purple-hover: #2e3257;
  --dark-purple: #261e3e;
  --red: #d5343a;
  --dark-red: #c3282d;
  --dark-red2: #6B393A;
  --dark-green: #396B46;
  --light-green: #B5EBC3;
  /* --back-color: #eef2f6; */
  --back-color: hsl(210, 33%, 96%);
  --back-hover: hsl(210, 33%, 91%);
  --disable: #a8adb3ff;
  --disable-hover: #9299a0ff;
  --dark-border: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 87%);
  --light-border: #e6e6e6;
  --pink: hsl(0, 100%, 94%);
  --light-grey: rgb(247, 249, 250);
  --light-grey-hover:hsl(200, 23%, 91%);
  --back-grey: rgb(243, 244, 246);
  --white-hover: #f9fafb;
  --bluish-white: #f1f5f9;
  --bluish-white-hover: #e2e8f0;

  /*Fontes*/
  --p-font: "Open Sans", Arial, Helvetica, sans-serif;
  --bt-font: "Montserrat", Arial, Helvetica, sans-serif;
  --h-font: "Lato", Arial, Helvetica, sans-serif;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  background-color: var(--back-grey);
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

p{
  cursor: default;
  font-family: var(--p-font);
  font-weight: 400;
}

span{
  font-weight: 400;
  font-size: 1.5em;
}

button{
  border: none;
}

h1, h2, h3{
  cursor: default;
  user-select: none;
}