* {
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
}

@media screen and (min-width: 993px){
  ::-webkit-scrollbar{
    visibility: hidden;
    width: 0;
    height: 0px;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}