* {
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Para Firefox */
/* body {
  scrollbar-width: none;  */
  /* scrollbar-color: transparent transparent;
} */
/* Para Internet Explorer 10+ e alguns navegadores Edge (antigos) */
body {
  -ms-overflow-style: none;
}