* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  visibility: hidden;
  width: 0;
  height: 0px;
}

/* html, body {
  overflow: hidden;
}
@media screen and (min-width: 993px){
  html, body {
  overflow: auto;
  touch-action: none;
  }
} */