* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  visibility: hidden;
  width: 0;
  height: 0px;
}

body{
  overflow: hidden;
  touch-action: none;
}

@media screen and (min-width: 993px){
  body{
    overflow: auto;
  }
}